{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "styled-components",
        [
            "inline-react-svg",
            {
                "svgo": {
                    "plugins": [
                        {
                            "name": "removeViewBox",
                            "active": false
                        }
                    ]
                }
            }
        ]
    ]
}