# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.cache

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
/*.sql

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
envbak
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# copilot
copilot/

# service worker
public/sw.js*
sw/precache-manifest.json
public/workbox-*.js*
public/*-development.js

# slashtags
.slashtags/

