.offcanvas {
    max-width: 250px;
    z-index: 10000;
    right: -100%;
    animation: slide ease-out 0.2s;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%)
    }
}

.meimg {
    clip-path: polygon(0 0, 83% 0, 100% 100%, 17% 100%);
    cursor: pointer;
}