/* editor */

.text {
  font-size: 94%;
  font-family: inherit;
  word-break: break-word;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  max-height: 200vh;
  --grid-gap: 0.5rem;
}

.text[contenteditable="false"] {
  background-color: var(--theme-body) !important;
}

.text.topLevel {
  max-height: 200vh;
  --grid-gap: 0.75rem;
}

.text>*:not(.heading),
.text>.html>*:not(.heading) {
  padding-top: calc(var(--grid-gap) * 0.5);
  padding-bottom: calc(var(--grid-gap) * 0.5);
}

.text>*:last-child:not(.textShowFull),
.text>.html>*:last-child:not(.textShowFull) {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.text>*:first-child,
.text>.html>*:first-child {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.textUncontained {
  max-height: none !important;
}

.textContained::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  pointer-events: none;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0), var(--bs-body-bg) 200%);
}

.textShowFull {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0;
  z-index: 2;
}

.text p {
  margin-bottom: 0 !important;
}

.text .p {
  padding-top: calc(var(--grid-gap) * 0.5);
  padding-bottom: calc(var(--grid-gap) * 0.5);
}

@media screen and (min-width: 767px) {
  .text {
      line-height: 130% !important;
  }
  .text img {
      min-width: 30% !important;
  }
}

.topLevel h1 {
  font-size: 1.6rem;
}

.topLevel h2 {
  font-size: 1.45rem;
}

.topLevel h3 {
  font-size: 1.3rem;
}

.topLevel h4 {
  font-size: 1.15rem;
}

.topLevel h5 {
  font-size: 1rem;
}

.topLevel h6 {
  font-size: 0.85rem;
}

.editor {
  position: relative;
}

.editorContainer {
  width: 100%;
  color: var(--theme-color);
  position: relative;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
}

.editorInner {
  position: relative;
}

.editorInput>hr {
  border-top: 1px solid var(--theme-clickToContextColor);
}

.editorInput[contenteditable="true"] {
  caret-color: var(--theme-color);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 10px 10px;
  border: 1px solid var(--theme-borderColor);
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  border-top-right-radius: .4rem;
  /* border-top: 0px; */
}

.editorInput[contenteditable="true"] {
  min-height: 120px;
  resize: vertical;
  overflow: auto;
}

.editorInput[contenteditable="true"][style*="--placeholder"]::before {
  content: var(--placeholder);
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--theme-grey);
}

.editorInput[contenteditable="true"][style*="--placeholder"]:has(> *)::before {
  content: none;
}

.editorPlaceholder {
  color: var(--theme-grey);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editorInput[contenteditable="true"] code[data-language="markdown"] {
  background-color: var(--theme-body) !important;
  font-family: inherit;
  font-size: 100% !important;
  display: block;
  padding: 0 !important;
  line-height: 1.53;
  margin: 0;
  margin-bottom: 8px;
  tab-size: 2;
  /* white-space: pre; */
  overflow-x: auto;
  position: relative;
}

/* toolbar */
.toolbar {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  vertical-align: middle;
  flex-wrap: wrap;
}

.toolbar .divider {
  width: 1px;
  height: 18px;
  background-color: var(--theme-borderColor);
  margin: 0 4px;
}

:global(.dropdown) + .divider {
  margin-left: 0 !important;
}

.toolbar .toolbarFormatting {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.toolbarItem {
  background-size: contain;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.4rem;
  vertical-align: -.25em;
  opacity: 0.6;
}

.toolbarItem:hover {
  background-color: var(--theme-toolbarActive);
  opacity: 1;
}

.toolbarItem.active {
  background-color: var(--theme-toolbarActive);
  opacity: 1;
}

.toolbarItem svg {
  fill: var(--bs-body-color) !important;
  width: 20px;
  height: 20px;
}

.toolbarInsert {
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 0.4rem;
  vertical-align: -.25em;
  opacity: 0.6;
}

.toolbarInsert:hover {
  background-color: var(--theme-toolbarActive);
  opacity: 1;
}

.toolbarInsert.active {
  background-color: var(--theme-toolbarActive);
  opacity: 1;
}

.toolbarInsert svg {
  fill: var(--bs-body-color) !important;
  width: 24px;
  height: 24px;
}

.modeStatus {
  cursor: pointer;
  font-size: 10px;
  color: var(--theme-grey);
}

.modeStatus:hover {
  color: var(--theme-brandColor);
  filter: drop-shadow(0 0 6px var(--bs-primary));
}

.modeStatus:active {
  color: var(--theme-brandColor);
  opacity: 0.8;
  filter: drop-shadow(0 0 6px var(--bs-primary));
}

.dropdownExtra {
  padding: 0.45rem 0.35rem 0.45rem 0.35rem;
  width: 240px;
  border-radius: 0.4rem;
}

.dropdownExtraItem {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
  padding: 0.35rem;
  font-size: 14px;
  font-weight: normal;
}

.dropdownExtraItem.active {
  opacity: 1;
  font-weight: 500;
  font-size: 15px;
  /* alternate active dropdown item
  background-color: var(--theme-toolbarActive);
  */
}

.active .dropdownExtraItemText {
  color: var(--theme-brandColor) !important;
  filter: drop-shadow(0 0 6px var(--bs-primary));
  font-weight: 500;
}

.dropdownExtraItemShortcut {
  color: var(--theme-grey);
  font-size: 12px !important;
  font-weight: 400;
  opacity: 0.5;
}

.dropdownExtraItem:hover {
  background-color: var(--theme-toolbarActive);
  opacity: 1;
  border-radius: 0.3rem;
}

.dropdownExtraItem svg {
  width: 16px;
  height: 16px;
  margin-bottom: 3px;
  margin-right: 0.25rem;
}

.dropdownExtraItemLabel {
  display: flex;
  align-items: center;
  gap: 0.15rem;
}

.dropdownExtraItemLabel svg {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 0.25rem;
}
