Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-685922807022"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
commands:
  00_sn_onion:
    command: "sudo install -d -m 700 -o toranon -g toranon /var/lib/tor/sn"
files:
  "/usr/local/bin/tor":
    mode: "000755"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-685922807022.s3.amazonaws.com/sn/tor
  "/var/lib/tor/sn/hostname" :
    mode: "000600"
    owner: toranon
    group: toranon
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-685922807022.s3.amazonaws.com/sn/hostname
  "/var/lib/tor/sn/hs_ed25519_public_key" :
    mode: "000600"
    owner: toranon
    group: toranon
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-685922807022.s3.amazonaws.com/sn/hs_ed25519_public_key
  "/var/lib/tor/sn/hs_ed25519_secret_key" :
    mode: "000600"
    owner: toranon
    group: toranon
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-685922807022.s3.amazonaws.com/sn/hs_ed25519_secret_key
  "/etc/tor/torrc":
    mode: "000644"
    owner: root
    group: root
    content: |
      HTTPTunnelPort 127.0.0.1:7050
      SocksPort 0
      Log info file /var/log/tor/info.log
      HiddenServiceDir /var/lib/tor/sn/
      HiddenServicePort 80 127.0.0.1:443
services:
  sysvinit:
    tor:
      enabled: "true"
      ensureRunning: "true"
      files:
        - "/etc/tor/torrc"
        - "/usr/local/bin/tor"
        - "/var/lib/tor/sn/hostname"
        - "/var/lib/tor/sn/hs_ed25519_public_key"
        - "/var/lib/tor/sn/hs_ed25519_secret_key"