commands:
    00_install_epel:
        command: 'sudo amazon-linux-extras install epel'
    01_install_tor:
        command: 'sudo yum install -y tor'
    02_sn_onion:
        command: "sudo install -d -m 700 -o toranon -g toranon /var/lib/tor/sn"
files:
    "/etc/tor/torrc":
        mode: "000644"
        owner: root
        group: root
        content: |
            HTTPTunnelPort 127.0.0.1:7050
            SocksPort 0
            Log info file /var/log/tor/info.log
            HiddenServiceDir /var/lib/tor/sn/
            HiddenServicePort 80 127.0.0.1:443
services:
  sysvinit:
    tor:
        enabled: "true"
        ensureRunning: "true"
        files:
            - "/etc/tor/torrc"
        packages:
            yum:
                tor