commands:
    00_install_epel:
        command: 'sudo amazon-linux-extras install epel'
    01_install_tor:
        command: 'sudo yum install -y tor'
files:
    "/etc/tor/torrc":
        mode: "000644"
        owner: root
        group: root
        content: |
            HTTPTunnelPort 127.0.0.1:7050
            SocksPort 0
services:
  sysvinit:
    tor:
        enabled: "true"
        ensureRunning: "true"
        files:
            - "/etc/tor/torrc"
        packages:
            yum:
                tor