Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-1-685922807022"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
container_commands:
  01_create_sn_dir:
    command: "install -d -m 700 -o toranon -g toranon /var/lib/tor/sn"
files:
  "/var/lib/tor/sn/hostname" :
    mode: "000600"
    owner: toranon
    group: toranon
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-685922807022.s3.amazonaws.com/sn/hostname
  "/var/lib/tor/sn/hs_ed25519_public_key" :
    mode: "000600"
    owner: toranon
    group: toranon
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-685922807022.s3.amazonaws.com/sn/hs_ed25519_public_key
  "/var/lib/tor/sn/hs_ed25519_secret_key" :
    mode: "000600"
    owner: toranon
    group: toranon
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-east-1-685922807022.s3.amazonaws.com/sn/hs_ed25519_secret_key
