.item {
    align-items: flex-start;
}

.upvote {
    margin-top: 9px;
}

.text {
    margin-top: .1rem;
    padding-right: .75rem;
}

.reply {
    font-weight: bold;
    cursor: pointer;
    padding-bottom: .5rem;
}

.children {
    margin-top: .25rem;
}

.comments {
    margin-left: -1rem;
}

.skeleton .hunk {
    width: 100%;
}

.skeleton .text {
    height: 80px;
    border-radius: .4rem;
    margin-right: .75rem;
}

.skeleton .reply {
    width: 45px;
    height: 10px;
    border-radius: .2rem;
}

.replyPadder {
    padding: .25rem 0;
    padding-bottom: .5rem;
}

.comment {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: .4rem;
    padding-top: .5rem;
    padding-left: .2rem;
}

.comment:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.comment:not(:first-child) {
    padding-top: .25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}