@layer components {

.receipt {
    background-color: var(--sn-input-bg);
    max-width: 300px;
    margin: auto;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.feeButton {
    display: flex;
    align-items: center;
}

.feeButton small {
    font-weight: 400;
}

.freebieCheckbox {
    margin: 0;
    white-space: nowrap;
}

.freebieCheckbox label {
    color: var(--sn-grey);
}

.receipt td {
    padding: .25rem .1rem;
    background-color: var(--sn-input-bg);
    color: var(--sn-body-color);
    line-height: 1.2rem;
    vertical-align: top;
}

.receipt tfoot {
    border-top: 2px solid var(--sn-border-color) !important;
}
}
