.receipt {
    background-color: var(--theme-inputBg);
    max-width: 300px;
    margin: auto;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

.feeButton {
    display: flex;
    align-items: center;
}

.feeButton small {
    font-weight: 400;
}

.receipt td {
    padding: .25rem .1rem;
    background-color: var(--theme-inputBg);
    color: var(--bs-body-color);
    line-height: 1.2rem;
    vertical-align: top;
}

.receipt tfoot {
    border-top: 2px solid var(--theme-borderColor) !important;
}