.connect {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    opacity: 0.7;
}

.connect:hover {
    opacity: 1;
}

.contrastLink {
  color: var(--theme-color);
}
.contrastLink:hover {
    color: var(--theme-color);
}
.contrastLink svg {
    fill: var(--theme-color);
}