.noTopLeftRadius textarea {
    border-top-left-radius: 0;
}

.markdownInput textarea {
    margin-top: -1px;
    font-size: 94%;
    line-height: 140%;
}

@media screen and (min-width: 767px) {
    .markdownInput textarea {
        line-height: 130%;
    }
}

.markdownInput .text {
    margin-top: -1px;
    height: auto;
}

.dragOver {
    box-shadow: 0 0 10px var(--bs-info);
}

.appendButton {
    border-left: 0 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.clearButton {
    background-color: var(--theme-inputBg);
    border: 1px solid var(--theme-borderColor);
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
}

.clearButton:hover, .clearButton:active {
    background-color: var(--theme-inputBg) !important;
    border: 1px solid var(--theme-borderColor) !important;
    border-left: 0 !important;
}
.clearButton.isInvalid {
    border-color: #c03221;
}

/* https://github.com/react-bootstrap/react-bootstrap/issues/5475 */
.suggestionsMenu {
    opacity: 1 !important;
    pointer-events: unset !important;
}

.previewTab {
    padding-top: .2rem;
    padding-bottom: .3rem;
}

.customDropdownToggle {
    background-color: var(--theme-clickToContextColor);
    color: var(--theme-dropdownItemColor);
    font-weight: bold;
    border: none;
    display: inline-flex;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 1.84rem 0.25rem 0.5rem;
    font-size: .7875rem;
    vertical-align: middle;
    border-radius: 0.4rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    flex-wrap: wrap;
    height: auto;
    max-width: 100%;
  }

  .customDropdownToggle option {
    color: rgba(0, 0, 0, 0.9);
  }

  .customDropdownToggle:hover,
  .customDropdownToggle:focus,
  .customDropdownToggle:active {
    background-color: var(--theme-clickToContextColor);
    color: var(--theme-dropdownItemColor);
    border: none;
  }


  .checkmark {
    cursor: pointer;
    fill: var(--theme-grey);
    margin-left: auto;
    user-select: none;
  }

  .selectedItemsContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 5px;
  }

  .selectedItem {
    background-color: var(--bs-secondary);
    border-radius: 0.4em;
    display: flex;
    align-items: center;
  }

  .subName {
    padding-left: 0.10rem;
    padding-right: 0.10rem;
    font-size: 110%;
  }

  .subDelete {
    padding-top: 0.10rem;
    padding-left: 0.10rem;
    padding-right: 0.10rem;
    font-family: "lightning";
    font-size: 160%;
  }

  .subDelete:active,
  .subDelete:focus,
  .subDelete:hover {
    opacity: 0.7;
    color: white !important;
  }

