.noTopLeftRadius textarea {
    border-top-left-radius: 0;
}

textarea.passwordInput {
    resize: none;
}

.markdownInput textarea {
    margin-top: -1px;
    font-size: 94%;
    line-height: 140%;
}

@media screen and (min-width: 767px) {
    .markdownInput textarea {
        line-height: 130%;
    }
}

.markdownInput .text {
    margin-top: -1px;
    height: auto;
}

.dragOver {
    box-shadow: 0 0 10px var(--bs-info);
}

.appendButton {
    border-left: 0 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.clearButton {
    background-color: var(--theme-inputBg);
    border: 1px solid var(--theme-borderColor);
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
}

.clearButton:hover, .clearButton:active {
    background-color: var(--theme-inputBg) !important;
    border: 1px solid var(--theme-borderColor) !important;
    border-left: 0 !important;
}
.clearButton.isInvalid {
    border-color: #c03221;
}

/* https://github.com/react-bootstrap/react-bootstrap/issues/5475 */
.suggestionsMenu {
    opacity: 1 !important;
    pointer-events: unset !important;
}

.previewTab {
    padding-top: .2rem;
    padding-bottom: .3rem;
}

.pending {
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 0.66s;
    animation-direction: alternate;
}

.multiSelectContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-clickToContextColor);
    border: none;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 0.7875rem;
    color: var(--theme-dropdownItemColor);
    padding-left: 0.4rem;
    padding-right: 0;
}

.multiSelectTags {
    display: flex;
    gap: 0.5rem;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-width: 100%;
    transition: max-height 0.3s ease;
    flex-wrap: nowrap;
}

.multiSelectTagsWrapped {
    flex-wrap: wrap;
    max-height: 100px;
    overflow-y: auto;
}

.multiSelectMoreIndicator {
    display: flex;
    align-items: center;
    background-color: var(--theme-clickToContextColor);
    border: none;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 0.7875rem;
    color: var(--theme-dropdownItemColor);
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    white-space: nowrap;
}

.multiSelectMoreIndicator:hover {
    background-color: var(--theme-clickToContextColor);
    opacity: 0.8;
}

.multiSelectItem {
    display: flex;
    align-items: center;
    background-color: var(--theme-clickToContextColor);
    border: none;
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 0.7875rem;
    color: var(--theme-dropdownItemColor);
    padding-left: 0.4rem;
    padding-right: 0;
    white-space: nowrap;
}
  
.multiSelectRemoveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    border: none;
    padding: 0;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    width: 1.3rem;
    height: 1.5rem;
    margin-left: 0.2rem;
}

.multiSelectRemoveButton:hover {
    background-color: var(--theme-clickToContextColor) !important;
}
  
.multiSelectRemoveIcon {
    fill: var(--theme-clickToContextColor);
    width: 1rem;
    height: 1rem;
}
  
.multiSelectRemoveButton:hover .multiSelectRemoveIcon {
    fill: var(--theme-dropdownItemColor) !important;
    width: 1rem;
    height: 1rem;
}

.multiSelectActionContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.multiSelectRemoveAll {
    border: none;
    border-radius: 0.2rem;
    height: 1.3rem;
    width: 1.3rem;
    padding: 0;
}

.multiSelectRemoveAllIcon {
    fill: var(--theme-clickToContextColor);
    width: 1.3rem;
    height: 1.3rem;
}

.multiSelectRemoveAllIcon:hover {
    fill: #c03221 !important;
}

.multiSelectAddIcon {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--theme-clickToContextColor) !important;
}

.multiSelectAddIcon:hover {
    fill: var(--theme-dropdownItemColor) !important;
}

@keyframes pulse {
	0% {
		opacity: 42%;
	}
}

div.qr {
    display: grid;
}

div.qr>svg {
    justify-self: center;
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: white;
}
