@layer components {

.brand {
    padding: 0;
    margin-right: 0;
}

.brand svg {
    fill: var(--sn-brand-color);
    filter: drop-shadow(0 0 6px var(--sn-primary));
}

.brandImage {
    object-fit: contain;
    display: block;
}

.navSort {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.05em;
}

.dropdown svg {
    vertical-align: text-top;
}

.navbarNav {
    display: flex;
    width: 100%;
    align-items: center;
    height: 39px;
    align-content: center;
}

.dropdown {
    padding: 0;
}

.header {
    background-color: var(--sn-body-bg);
}

.header[data-scrolled] {
    box-shadow: 0 1px 0 var(--sn-toolbar-active);
}

}
