.brand {
    font-family: lightning;
    font-size: 2rem;
    padding: 0;
    line-height: 100%;
    margin-bottom: -.3rem;
    margin-right: 0;
    text-shadow: 0 0 10px var(--bs-primary);
    color: var(--theme-brandColor) !important;
}

.postAnon {
    border-width: 2px;
}

.postAnon svg {
    fill: var(--bs-grey-darkmode);
}

.postAnon:hover, .postAnon:active, .postAnon:focus-visible {
    color: var(--bs-white) !important;
}

.postAnon:hover svg, .postAnon:active svg, .postAnon:focus-visible svg {
    fill: var(--bs-white);
}

.navLinkButton {
    border: 2px solid;
    padding: 0.2rem .9rem !important;
    border-radius: .4rem;
}

.navLink {
    padding: 0.25rem 1rem;
}

.navbar {
    padding: .5rem 0;
    background-color: transparent !important;
}

.navLink.active svg {
    fill: var(--theme-navLinkActive);
}

.dropdown svg {
    vertical-align: text-top;
}

.jobIndicator {
    position: absolute;
    padding: .25rem;
    background-color: var(--bs-primary);
    top: 3px;
    right: 0px;
    border: 1px solid var(--bs-body-bg);
}

.notification {
    position: absolute;
    padding: .25rem;
    background-color: var(--bs-danger);
    top: 1px;
    right: 8px;
    border: 1px solid var(--bs-body-bg);
}

.navbarNav {
    width: 100%;
    align-items: center;
    height: 39px;
    align-content: center;
}

.price {
    margin-top: 2px;
    white-space: nowrap;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.price > div {
    font-size: min(3.5cqw, 0.9rem);
}

.dropdown {
    padding: 0;
}

.dropdown>a {
    padding-left: 0 !important;
}

.dropdown>button {
    padding-left: 0 !important;
}