.brand {
    font-family: lightning;
    font-size: 2rem;
    padding: 0;
    line-height: 100%;
    margin-bottom: -.3rem;
    margin-right: 0;
    text-shadow: 0 0 10px var(--primary);
    color: var(--theme-brandColor) !important;
}

.navLinkButton {
    border: 2px solid;
    border-radius: .4rem;
}

.navLink {
    padding: 0.25rem 1rem;
}

.navbar {
    padding: .5rem 0;
    background-color: transparent !important;
}

.navLink:first-child {
    padding-left: 0 !important;
}

.navLink:last-child {
    padding-right: 0 !important;
}

.navbarNav {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 39px;
}

.dropdown {
    padding: 0;
}

.dropdown > a {
    padding-left: 0 !important;
}