.title {
    font-weight: 500;
    white-space: normal;
    max-width: 100%;
}

a.title:visited {
    color: var(--theme-grey) !important;
}

.upvote {
    margin-top: 3px;
}

.link {
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 0 128px;
}

.newComment {
    color: var(--theme-grey) !important;
    background: var(--theme-clickToContextColor) !important;
    vertical-align: middle;
}

.pin {
    fill: #a5a5a5;
    margin-right: .2rem;
}

.dontLike {
    fill: #a5a5a5;
    margin-right: .2rem;
    padding: 2px;
    margin-left: 1px;
}

.case {
    fill: #a5a5a5;
    margin-right: .2rem;
    margin-top: .2rem;
    padding: 0 2px;
}

.linkSmall {
    width: 128px;
    display: inline-block;
    vertical-align: text-top;
}

a.link:visited {
    color: var(--theme-linkVisited) !important;
}

.other {
    font-size: 80%;
    color: var(--theme-grey);
}

.item {
    display: flex;
    justify-content: flex-start;
    min-width: 0;
    padding-bottom: .45rem;
}

.item .companyImage {
    border-radius: 100%;
    align-self: center;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
}

.itemDead {
    pointer-events: none;
    opacity: .5;
}

.item .cover {
    top: 4px;
}

.hunk {
    min-width: 0;
    width: 100%;
    line-height: 1.06rem;
}

.bountyIcon {
    margin-bottom: 2px;
}

/* .itemJob .hunk {
    align-self: center;
}

.itemJob .rank {
    align-self: center;
} */

.main {
    display: flex;
    align-items: baseline;
}

.children {
    margin-left: 28px;
}

.rank {
    font-weight: 600;
    margin-top: 4px;
    display: flex;
    color: var(--theme-grey);
    font-size: 90%;
}

.skeleton .other {
    height: 14px;
    align-items: center;
}

.skeleton .title {
    background-color: var(--theme-grey);
    width: 500px;
    border-radius: .4rem;
    height: 17px;
    margin: 0;
}

.skeleton .name {
    background-color: var(--theme-grey);
    width: 100px;
    border-radius: .4rem;
    height: 17px;
    margin: 0;
}

.skeleton .link {
    height: 14px;
    background-color: var(--theme-grey);
    width: 800px;
    border-radius: .3rem;
    margin: 2px 0px;
}

.skeleton .otherItem {
    display: inline-flex;
    width: 42px;
    height: 70%;
    border-radius: .27rem;
    background-color: var(--theme-grey);
    margin-right: .5rem;
}

.skeleton .otherItemLonger {
    width: 60px;
}