.title {
    font-weight: 500;
    white-space: normal;
    max-width: 100%;
}

.upvote {
    margin-top: 9px;
}

.link {
    font-size: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 0 128px;
}

.other {
    font-size: 70%;
    color: grey;
}

.item {
    display: flex;
    justify-content: flex-start;
    min-width: 0;
}

.hunk {
    overflow: hidden;
    width: 100%;
}

.main {
    display: flex;
    align-items: baseline;
}

.children {
    margin-top: 1rem;
    margin-left: 24px;
}

.rank {
    font-weight: 600;
    margin-top: 8px;
    display: flex;
    color: grey;
    font-size: 90%;
}

.skeleton .other {
    height: 17px;
    align-items: center;
    display: flex;
}

.skeleton .title {
    background-color: grey;
    width: 500px;
    border-radius: .4rem;
    height: 19px;
    margin: 3px 0px;
}

.skeleton .link {
    height: 14px;
    background-color: grey;
    width: 800px;
    border-radius: .3rem;
    margin: 3px 0px;
}

.skeleton .otherItem {
    display: inline-flex;
    width: 42px;
    height: 70%;
    border-radius: .27rem;
    background-color: grey;
    margin-right: .5rem;
}

.skeleton .otherItemLonger {
    width: 60px;
}