.page {
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100%;
    min-height: 100vh;
    align-items: center;
}

.content, .content div[role=tabpanel] {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 740px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 1.5rem;
    flex-direction: column;
}

.content [role=tablist] {
    align-self: stretch;
}

.content button[role=tab] {
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    height: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.content button[role=tab]:not(:global(.active)) {
    border-bottom: 1px solid var(--theme-borderColor);
}

.content :global(.tab-content) {
    border-left: 1px solid var(--theme-borderColor);
    border-right: 1px solid var(--theme-borderColor);
    border-bottom: 1px solid var(--theme-borderColor);
    align-self: stretch;
    display: grid;
}

.content :global(.tab-content) > :global(.tab-pane) {
    visibility: hidden;
}

.content :global(.tab-content) > :global(.active) {
    visibility: visible;
}

.content div[role=tabpanel] {
    grid-row-start: 1;
    grid-column-start: 1;
    margin-bottom: 1.5rem;
}

.content form {
    width: 100%;
}