.linkBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.linkBox ~ * {
    position: relative;
}

.linkBoxParent {
    position: relative;
}

.linkBoxParent.pad {
    margin-left: -0.5rem;
    padding-left: 0.5rem;
    margin-right: -0.5rem;
    padding-right: 0.5rem;
}

.linkBoxParent > * {
    pointer-events: none;
}

.linkBoxParent :global(.upvoteParent),
.linkBoxParent :global(.pointer),
.linkBoxParent a,
.linkBoxParent form,
.linkBoxParent textarea,
.linkBoxParent button,
.linkBoxParent input,
.linkBoxParent iframe,
.linkBoxParent video,
.linkBoxParent pre,
.linkBoxParent img {
    pointer-events: auto !important;
}

.linkBoxParent h1 a,
.linkBoxParent h2 a,
.linkBoxParent h3 a,
.linkBoxParent h4 a,
.linkBoxParent h5 a,
.linkBoxParent h6 a {
    pointer-events: none !important;
}
