.line {
    font-family: monospace;
    color: var(--theme-grey) !important; /* .text-muted */
}

.timestamp {
    vertical-align: top;
    text-wrap: nowrap;
    justify-self: first baseline;
}

.wallet {
    vertical-align: top;
    font-weight: bold;
}

.level {
    font-weight: bold;
    vertical-align: top;
    text-transform: uppercase;
    padding-right: 0.5em;
}