.line {
    font-family: monospace;
    font-size: x-small;
    color: var(--theme-grey) !important; /* .text-muted */
}

.timestamp {
    text-align: end;
    display: inline-block;
    width: 25px;
}

.level {
    text-transform: uppercase;
    display: inline-block;
    width: 40px;
    margin: 0 0.25em;
}