.filterIcon {
    cursor: pointer;
    fill: var(--theme-grey);
}
.filterIcon:hover {
    fill: var(--theme-brandColor);
    filter: drop-shadow(0 0 2px var(--bs-primary));
}

.filterIconActive {
    cursor: pointer;
    fill: var(--theme-brandColor);
    filter: drop-shadow(0 0 2px var(--bs-primary));
}