.clickToContext {
    border-radius: .4rem;
    padding: .2rem 0;
    cursor: pointer;
}

.clickToContext:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.fresh {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: .4rem;
}

.alertBtn {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    font-size: 0.9rem;
}

.subFormGroup > div {
    margin-right: 0 !important;
}