.fresh {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 0;
}

.fresh:not(.fresh ~ .fresh) {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.fresh:has(+ :not(.fresh)) {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.alertBtn {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 0 solid transparent;
    font-size: 0.9rem;
}

.subFormGroup > div {
    margin-right: 0 !important;
}