.pay {
    font-size: 70%;
    color: lightgreen;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    padding-bottom: .5rem;
    padding-left: 1rem;
    line-height: 1rem;
    vertical-align: middle;
}