.reply {
    max-width: 600px;
    padding-right: 15px;
    padding-bottom: .5rem;
}

.replyButtons {
    font-size: 70%;
    color: grey;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    padding-bottom: .5rem;
}

.skeleton .input {
    background-color: grey;
    width: 100%;
    border-radius: .4rem;
    height: 115px;
    margin-bottom: 1rem;
}

.skeleton .button {
    background-color: grey;
    border-radius: .4rem;
    margin-top: .25rem;
    width: 71px;
    height: 38px;
}

.noTopLeftRadius textarea {
    border-top-left-radius: 0;
}

.reply textarea {
    margin-top: -1px;
}

.reply .text {
    margin-top: -1px;
    height: auto;
}