.searchSection {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.searchContainer {
    height: 88px;
    position: relative;
}

.leaveRoom {
    height: 130px !important;
}

.searchSection.solid {
    pointer-events: auto;
    background: var(--bs-body-bg);
    box-shadow: 0 -4px 12px hsl(0deg 0% 59% / 10%);
}

.searchSection.hidden {
    pointer-events: none;
    background: transparent;
}

.search {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    left: auto !important;
}

.formActive {
    pointer-events: auto;
    bottom: 18px;
    right: 18px;
    left: 18px;
    position: absolute;
}

form>.active {
    display: flex;
    pointer-events: auto;
    flex-flow: row wrap;
    align-items: center;
}

.searchPadding {
    padding-bottom: 88px;
}