.searchSection {
    position: sticky;
    top: 0;
    box-shadow: 0 4px 12px -4px hsl(0deg 0% 59% / 10%);
    background-color: var(--bs-body-bg);
    z-index: 1;
}

.searchContainer {
    height: 88px;
    position: relative;
}

.leaveRoom {
    height: 130px !important;
}

.search {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    left: auto !important;
}

form>.active {
    display: flex;
    pointer-events: auto;
    flex-flow: row nowrap;
    align-items: center;
}

form>.active :global(.input-group) {
    flex-flow: nowrap;
}