@layer components {

.preview {
    border-radius: 0.4rem;
    border: 1px solid var(--sn-borderColor);
    padding: 0.1rem;
    flex-shrink: 0;
}

.previewImage {
    object-fit: contain;
    border-radius: 4px;
    background: var(--sn-inputBg);
    display: block;
}

.colorInput {
    min-width: 4rem;
    cursor: pointer;
}

}
