@layer components {

.text {
    font-size: 94%;
    font-family: inherit;
    word-break: break-word;
    line-height: 140%;
    overflow-y: hidden;
    position: relative;
    max-height: 200vh;
    --grid-gap: 0.5rem;
}

  /* Hide the section label for visual users. */
.text :global(.sr-only) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
  }

/* Place `[` and `]` around footnote references. */
.text :global([data-footnote-ref])::before {
    content: '[';
}

.text :global([data-footnote-ref])::after {
    content: ']';
}

.text :global(sup:has([data-footnote-ref])) {
    top: 0;
    font-size: 100%;
    vertical-align: baseline;
}

@media screen and (min-width: 767px) {
    .text {
        line-height: 130%;
    }
    .text img {
        min-width: 30% !important;
    }
}

.text hr {
    border-top: 3px solid var(--sn-quote-bar);
}

.text .p {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
    padding-top: calc(var(--grid-gap) * 0.5);
    padding-bottom: calc(var(--grid-gap) * 0.5);
}

.text>* {
    padding-top: calc(var(--grid-gap) * 0.5);
    padding-bottom: calc(var(--grid-gap) * 0.5);
}

.text pre, .text blockquote {
    margin-top: calc(var(--grid-gap) * 0.5);
    margin-bottom: calc(var(--grid-gap) * 0.5);
}

.text pre>div {
    margin: 0 !important;
}

.text>*:first-child {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.text blockquote {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.text blockquote *:first-child {
    padding-top: 0;
}

.text blockquote *:last-child {
    padding-bottom: 0;
}

.text table {
    width: auto;
    white-space: nowrap;
}

.text blockquote {
    border-left: 3px solid var(--sn-quote-bar);
    padding-left: .75rem;
}

.text li {
    margin-top: .25rem;
}

.text ul,
.text ol {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 2rem;
  max-width: calc(100% - 1rem);
}

.text ol ol,
.text ul ol {
  list-style-type: lower-roman;
}

.text ul ul ol,
.text ul ol ol,
.text ol ul ol,
.text ol ol ol {
  list-style-type: lower-alpha;
}

.text h1, .text h2, .text h3, .text h4, .text h5, .text h6 {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.text h1 a, .text h2 a, .text h3 a, .text h4 a, .text h5 a, .text h6 a {
    text-decoration: none;
    color: inherit !important;
}

}
