.text {
    font-size: 94%;
    font-family: inherit;
    word-break: break-word;
    line-height: 140%;
}

@media screen and (min-width: 767px) {
    .text {
        line-height: 130%;
    }
}

.heading {
    position: relative;
    margin-left: -22px;
    padding-left: 22px;
    display: block;
}

.headingLink {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 44px;
}

.headingLink.copied {
    display: flex;
}

.headingLink svg {
    align-self: center;
}

.heading:hover>.headingLink {
    display: flex;
}

.text hr {
    border-top: 1px solid var(--theme-clickToContextColor);
}

.text .p {
    margin-bottom: .5rem;
    white-space: pre-wrap;
    word-break: break-word;
}

.text pre {
    margin-bottom: .5rem;
}

.text pre>div {
    margin: 0 !important;
}

.text>*:last-child {
    margin-bottom: 0 !important;
}

.text blockquote:last-child {
    margin-bottom: 0 !important;
}

.text blockquote:has(+ :not(blockquote)) {
    margin-bottom: .5rem;
}

.text img {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: .4rem;
    width: auto;
    max-width: 100%;
    cursor: zoom-in;
    max-height: 25vh;
}

.text img.topLevel {
    margin-top: .75rem;
    margin-bottom: .75rem;
    max-height: 35vh;
}

img.fullScreen {
    cursor: zoom-out !important;
    max-height: 100%;
    max-width: 100vw;
    min-width: 0;
    min-height: 0;
    align-self: center;
    justify-self: center;
}

.fullScreenContainer {
    --bs-columns: 1;
    --bs-rows: 1;
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.text table {
    width: auto;
}

.text blockquote {
    border-left: 4px solid var(--theme-quoteBar);
    padding-left: 1rem;
    margin-left: 1.25rem;
    margin-bottom: 0;
}

.text ul {
    margin-bottom: 0;
}

.text li {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.text h1 {
    font-size: 1.6rem;
}

.text h2 {
    font-size: 1.45rem;
}

.text h3 {
    font-size: 1.3rem;
}

.text h4 {
    font-size: 1.15rem;
}

.text h5 {
    font-size: 1rem;
}

.text h6 {
    font-size: .85rem;
}