.toast {
    width: auto;
}

.toastClose {
  font-family: "lightning";
  font-size: 150%;
  line-height: 1rem;
  margin-bottom: -0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toastClose:hover {
    opacity: 0.7;
}

@media screen and (min-width: 400px) {
    .toast {
        width: var(--bs-toast-max-width);
    }
}
