.toastContainer {
  transform: translate3d(0,0,0);
}

.toast {
  width: auto;
  border: 1px solid var(--bs-success-border-subtle);
  color: #fff;
  transform: translate3d(0,0,0);
}

.toastClose {
  transform: translate3d(0,0,0);
  color: #fff;
  font-family: "lightning";
  font-size: 150%;
  line-height: 1rem;
  margin-bottom: -0.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toastClose:hover {
  opacity: 0.7;
}

@media screen and (min-width: 400px) {
  .toast {
    width: var(--bs-toast-max-width);
  }
}
