.upvote {
    fill: grey;
    user-select: none;
}

.upvote:hover {
    fill: darkgray;
    cursor: pointer;
}

.noSelfTips:hover {
    cursor: default !important;
}

.upvote.voted {
    fill: #F6911D;
    filter: drop-shadow(0 0 7px #F6911D);
}

.upvote.stimi {
    /* fill: #993DF5;
    filter: drop-shadow(0 0 7px #C28BF9); */
    fill: #F6911D;
    filter: drop-shadow(0 0 7px #F6911D);
}