.upvote {
    fill: #a5a5a5;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.upvoteWrapper {
    position: relative;
    margin-right: .2rem;
    padding-left: .2rem;
    margin-left: -.4rem;
}

.noSelfTips {
    fill: transparent !important;
    filter: none !important;
}

.upvoteWrapper:not(.noSelfTips):hover {
    cursor: pointer;
}

.upvote.voted {
    fill: #F6911D;
    filter: drop-shadow(0 0 6px #f6911d90);
}

.cover {
    background: var(--bs-body-bg);
    width: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    left: 4px;
    width: 17px;
}