.usernameForm {
    width: 300px;
    margin-bottom: 0;
}

.nav {
    margin-top: 1rem;
    justify-content: space-between;
}

.nav div:first-child a {
    padding-left: 0;
}

.nav div:last-child a {
    padding-right: 0;
}

.userimg {
    clip-path: polygon(0% 0%, 83% 0%, 100% 100%, 17% 100%);
    object-fit: cover;
}

.username {
    font-weight: bold;
    font-size: 150%;
    line-height: 1.25rem;
}
