@layer components {

.positioner { z-index: var(--sn-z-dropdown); }

.popup {
  background-color: var(--sn-input-bg);
  border: 1px solid var(--sn-border-color);
  outline: 0;
  max-width: 90vw;
  overflow: auto;
}

.item {
  color: var(--sn-dropdown-item-color);
  cursor: pointer;
}
.item:hover,
.item[data-highlighted] {
  color: var(--sn-dropdown-item-color-hover);
  outline: none;
}
.active,
.active:hover,
.active[data-highlighted] {
  color: var(--sn-brand-color);
  text-shadow: 0 0 10px var(--sn-primary);
}

.divider { border-top: 1px solid var(--sn-border-color); }

/* keyboard highlight looks like hover */
.compact:hover,
.compact[data-highlighted] {
  background-color: var(--sn-toolbar-active);
  opacity: 1;
  border-radius: 0.3rem;
  outline: none;
}

.compact svg {
  fill: var(--sn-dropdown-item-color);
}

.compact.compactActive {
  opacity: 1;
}

.compact.compactActive .itemText {
  color: var(--sn-brand-color);
  filter: drop-shadow(0 0 6px var(--sn-primary));
  font-weight: 500;
}

}
