@layer components {

.positioner {
  z-index: var(--sn-z-tooltip);
}

.popup {
  --sn-tooltip-bg: var(--sn-success);
  /* smaller borderless arrow */
  --arrow-size: 12px;
  --arrow-bg: var(--sn-tooltip-bg);
  --arrow-border-width: 0px;
  position: relative;
  background-color: var(--sn-tooltip-bg);
  color: #fff;
  opacity: 0.9;
}

.popup[data-instant] {
  transition: none;
}

}
