/* editor */

.editor {
    height: 100%;
    position: relative;
}

.editorContainer {
    margin: 20px auto 20px auto;
    width: 100%;
    color: var(--theme-color);
    position: relative;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.editorInner {
    position: relative;
}

.editorInput>hr {
    border-top: 1px solid var(--theme-clickToContextColor);
}

.editorInput {
    min-height: 150px;
    resize: auto;
    font-size: 94%;
    caret-color: var(--theme-color);
    background-color: var(--theme-body);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 10px 10px;
    border: 1px solid;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border-top-right-radius: .4rem;
    /* border-top: 0px; */
}

.editorPlaceholder {
    color: var(--theme-grey);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

/* blocks */

.image {
    display: inline-block;
    height: auto;
    max-width: 100%;
    max-height: 25vh;
    border-radius: .4rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
    object-fit: contain;
    object-position: left top;
    cursor: zoom-in;
    min-width: 30%;
    aspect-ratio: var(--aspect-ratio);
}

.paragraph {
    margin: 0;
    position: relative;
    line-height: 140%;
}

.paragraph:last-child {
    margin-bottom: 0;
}

.quote {
    margin: 0;
    margin-left: 20px;
    font-size: 15px;
    color: var(--theme-quoteColor);
    border-left-color: var(--theme-quoteBar);
    border-left-width: 4px;
    border-left-style: solid;
    padding-left: 16px;
}

.heading1 {
    font-size: 2em;
    color: var(--theme-color);
    font-weight: 400;
    margin: 0;
    margin-bottom: 12px;
}

.heading2, .heading3, .heading4, .heading5, .heading6 {
    color: var(--theme-color);
    margin: 0;
    margin-top: 8px;
}

.heading2 {
    font-size: 1.5em;
}

.heading3 {
    font-size: 1.17em;
}

.heading4 {
    font-size: 1em;
}

.heading5 {
    font-size: 0.83em;
}

.heading6 {
    font-size: 0.67em;
}

.code {
    font-family: Menlo, Consolas, Monaco, monospace;
    display: block;
    padding: 8px 8px 8px 8px;
    padding-top: 32px;
    line-height: 1.53;
    font-size: 13px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    tab-size: 2;
    /* white-space: pre; */
    overflow-x: auto;
    position: relative;
    background: rgb(40, 44, 52) !important;
    border-radius: 0.3rem;
}

.editorInput[contenteditable="true"] .code[data-language="markdown"] {
    background-color: var(--theme-body) !important;
    font-family: inherit;
    font-size: 100% !important;
    display: block;
    padding: 0 !important;
    line-height: 1.53;
    margin: 0;
    margin-bottom: 8px;
    tab-size: 2;
    /* white-space: pre; */
    overflow-x: auto;
    position: relative;
}

/* inline blocks */

.link {
    color: var(--theme-link);
    text-decoration: none;
}

/* lists */

.listOl {
    padding: 0;
    margin: 0;
}

.listUl {
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 8px 16px 8px 16px;
}

.nestedListItem {
    list-style-type: none;
}

/* text */

.textBold {
    font-weight: bold;
}

.textItalic {
    font-style: italic;
}

.textUnderline {
    text-decoration: underline;
}

.textStrikethrough {
    text-decoration: line-through;
}

.textUnderlineStrikethrough {
    text-decoration: underline line-through;
}

/* toolbar */
.toolbar {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    vertical-align: middle;
    flex-wrap: wrap;
}

.toolbar .divider {
    width: 1px;
    height: 18px;
    background-color: var(--theme-borderColor);
    margin-left: 4px !important;
    margin: 0 8px;
}

.toolbar .toolbarFormatting {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.toolbarItem {
    background-size: contain;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    margin-right: 4px;
}

.toolbarItem.active {
    background-color: var(--theme-toolbarActive);
}

.toolbarItem svg {
    fill: var(--bs-body-color) !important;
    width: 24px;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.toolbarItemLink svg {
    margin-bottom: 2px;
    width: 20px !important;
    height: 20px !important;
}

.linkTooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 0.7875rem;
    opacity: 0;
    will-change: transform;
}

.tooltipUrl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.markdownSwitch {
    cursor: pointer;
    margin-right: 4px;
}

.dropdownExtraFormatting {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-left: 0.45rem;
    margin-right: 0.45rem;
    padding-left: 0.45rem;
    padding-right: 0.45rem;
}

.dropdownExtraFormatting svg {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
    margin-right: 4px;
}

.active {
    background-color: var(--theme-toolbarActive) !important;
    border-radius: .4rem;
    font-weight: bold;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.md-hr {
    border-top: 1px solid var(--theme-borderColor);
    margin: 8px 0;
}

.md-ol {
    list-style-type: decimal;
}
