.calendarContainer {
    max-width: 100%;
    overflow-x: auto;
  }
  
  .calendarHeader {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    /* background-color: #e0e0e0; */
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
  }
  
  .calendarHeaderCell {
    background-color: #f5f5f5;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
  }
  
  .calendarCell {
    aspect-ratio: 1 / 1;
    background-color: white;
    padding: 0.5rem;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* border: 1px solid #e0e0e0; */
  }
  
  .emptyCell {
    background-color: #f5f5f5;
  }
  
  .selectedDay {
    background-color: #e6f7ff;
  }
  
  .dayNumber {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }
  
  .eventContainer {
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .event {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1a1a1a;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 2px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  @media (max-width: 768px) {
    .calendarGrid {
      font-size: 0.8rem;
    }
  
    .calendarCell {
      padding: 0.25rem;
      min-height: 60px;
    }
  
    .event {
      font-size: 0.7rem;
    }
  }

  