@font-face {
  font-family: lightning;
  src: url(/Lightningvolt-xoqm.ttf);
}

html {
  background-color: #fafafa !important;
}

body {
  background-color: #fafafa !important;
}

.form-label {
  font-size: 0.938rem;
  font-weight: bold;
}

.form-control {
  border-radius: .36rem;
  height: calc(1.5em + 1rem + 2px);
}

.btn {
  transition: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: .4rem;
}

.btn:focus {
  box-shadow: none !important;
}

button:focus {
  outline: none !important;
}

.btn-main {
  background-color: #F6911D;
  color: #ffffff;
}

.btn-main:hover {
  background-color: #F6911D;
  color: #ffffff;
}

.btn-lg {
  padding: 0.5rem 1.25rem;
}

.bg-brand {
  background: #FADA5E;
}

.flashit{
  animation: flash ease-out 7s infinite;
  animation-delay: -3s;
}

@keyframes flash {
	from { opacity: 0; }
  42% { opacity: 0; }
  43% { opacity: 0.6; }
  44% { opacity: 0.2; }
  46% { opacity: 1; }
  50% { opacity: 0; }
  92% { opacity: 0; }
	93% { opacity: 0.6; }
  94% { opacity: 0.2; }
  96% { opacity: 1; }
	to { opacity: 0; }
}