$theme-colors: (
  "primary" :  #FADA5E,
  "secondary" : #F6911D,
  "danger" : #c03221,
  "info" : #007cbe,
  "success" : #5c8001,
  "twitter" : #1da1f2,
  "boost" : #7A0CE9,
);

$body-bg: #f5f5f5;
$border-radius: .4rem;
$enable-transitions: false;
$enable-gradients: false;
$enable-shadows: false;
$btn-transition:   none;
$form-feedback-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='12' height='12'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M22 15h-3V3h3a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zm-5.293 1.293l-6.4 6.4a.5.5 0 0 1-.654.047L8.8 22.1a1.5 1.5 0 0 1-.553-1.57L9.4 16H3a2 2 0 0 1-2-2v-2.104a2 2 0 0 1 .15-.762L4.246 3.62A1 1 0 0 1 5.17 3H16a1 1 0 0 1 1 1v11.586a1 1 0 0 1-.293.707z' fill='rgba(192,50,33,1)'/%3E%3C/svg%3E");
$line-height-base: 1.75;
$input-btn-padding-y: .42rem;
$input-btn-padding-x: .84rem;
$btn-padding-y: .42rem;
$btn-padding-x:  1.1rem;
$btn-font-weight: bold;
$btn-focus-width: 0;
$btn-border-width:  0;
$btn-focus-box-shadow: none;
$alert-border-width: 0;
$close-text-shadow: none;
$close-color: inherit;
$alert-border-radius: #{33% 2%} / #{11% 74%};
$link-color: #007cbe;
$font-size-base: .9rem;
$enable-responsive-font-sizes: true;
$link-hover-decoration: none;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
) !default;


@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: lightning;
  src: url(/Lightningvolt-xoqm.ttf);
}

.form-label {
  font-size: 92%;
  font-weight: bold;
}

.alert-dismissible .close {
  font-weight: 300;
}

.nav-item {
  font-weight: 500;
}

.form-control:focus {
  border-color: #fada5e;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:disabled {
  color: #ffffff;
}

.btn-twitter svg {
  fill: #ffffff;
}

.btn-dark svg {
  fill: #ffffff;
}

.nav-link.active {
  font-weight: bold;
}

@keyframes flash {
	from { filter: brightness(1);}
  2% { filter: brightness(2.3); }
  4% { filter: brightness(1.4); }
  8% { filter: brightness(3); }
  16% { filter: brightness(1); }
  to { filter: brightness(1);}
}

.clouds {
  animation: flash ease-out 3.5s infinite;
  background: url('/clouds.jpeg');
  background-color: grey;
  background-repeat: repeat;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  opacity: .2;
}