$theme-colors: (
  "primary" : #FADA5E,
  "secondary" : #F6911D,
  "danger" : #c03221,
  "info" : #007cbe,
  "success" : #5c8001,
  "twitter" : #1da1f2,
  "boost" : #8c25f4,
  "grey" : #e9ecef,
);

$body-bg: #f5f5f5;
$border-radius: .4rem;
$enable-transitions: false;
$enable-gradients: false;
$enable-shadows: false;
$btn-transition: none;
$form-feedback-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='12' height='12'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M2 9h3v12H2a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1zm5.293-1.293l6.4-6.4a.5.5 0 0 1 .654-.047l.853.64a1.5 1.5 0 0 1 .553 1.57L14.6 8H21a2 2 0 0 1 2 2v2.104a2 2 0 0 1-.15.762l-3.095 7.515a1 1 0 0 1-.925.619H8a1 1 0 0 1-1-1V8.414a1 1 0 0 1 .293-.707z' fill='rgba(92, 128, 1, 1)'/%3E%3C/svg%3E");
$form-feedback-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='12' height='12'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M22 15h-3V3h3a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zm-5.293 1.293l-6.4 6.4a.5.5 0 0 1-.654.047L8.8 22.1a1.5 1.5 0 0 1-.553-1.57L9.4 16H3a2 2 0 0 1-2-2v-2.104a2 2 0 0 1 .15-.762L4.246 3.62A1 1 0 0 1 5.17 3H16a1 1 0 0 1 1 1v11.586a1 1 0 0 1-.293.707z' fill='rgba(192,50,33,1)'/%3E%3C/svg%3E");
$line-height-base: 1.75;
$input-btn-padding-y: .42rem;
$input-btn-padding-x: .84rem;
$btn-padding-y: .42rem;
$btn-padding-x: 1.1rem;
$btn-font-weight: bold;
$btn-focus-width: 0;
$btn-border-width: 0;
$btn-focus-box-shadow: none;
$alert-border-width: 0;
$close-text-shadow: none;
$close-color: inherit;
$alert-border-radius: #{33% 2%} / #{11% 74%};
$link-color: #007cbe;
$font-size-base: .9rem;
$enable-responsive-font-sizes: true;
$link-hover-decoration: none;
$dropdown-border-color: #ced4da;
$dropdown-link-active-color: inherit;
$dropdown-link-hover-bg: transparent;
$dropdown-link-active-bg: transparent;
$dropdown-link-color: rgba(0, 0, 0, 0.7);
$dropdown-link-hover-color: rgba(0, 0, 0, 0.9);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  ) !default;
$nav-link-padding-y: .1rem;
$nav-tabs-link-active-bg: #fff;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-border-color: #ced4da #ced4da $nav-tabs-link-active-bg;
$tooltip-bg: #5c8001;

@import "~bootstrap/scss/bootstrap";

@media screen and (min-width: 767px) {

  .table-sm th,
  .table-sm td {
    padding: .3rem .75rem;
  }
}

.modal-close {
  cursor: pointer;
  display: flex;
  margin-left: auto;
  padding-top: 1rem;
  padding-right: 1.5rem;
  font-family: "lightning";
  font-size: 150%;
  line-height: 1rem;
}

.modal-close:hover {
  opacity: 0.7;
}

.modal-close+.modal-body {
  padding-top: 0.5rem;
}

.text-muted {
  color: var(--theme-grey) !important;
}

ol,
ul,
dl {
  padding-inline-start: 2rem;
}

mark {
  background-color: var(--primary
  );
padding: 0 0.2rem;
}

.table-sm th,
.table-sm td {
  line-height: 1.2rem;
}

.twitter-tweet {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 12px;
}

.twitter-tweet iframe {
  width: 100% !important;
}

.custom-checkbox.custom-control-inline {
  margin-right: .5rem;
}

.table {
  color: var(--theme-color);
  background-color: var(--theme-body);
}

.table th,
.table td,
.table thead th {
  border-color: var(--theme-borderColor);
}

.table-hover tbody tr:hover {
  color: var(--theme-color);
  background-color: var(--theme-clickToContextColor);
}

body {
  background: var(--theme-body);
  color: var(--theme-color);
  min-height: 100vh;
  height: 100%;
}

a {
  color: var(--theme-link);
}

a:hover {
  color: var(--theme-linkHover);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: inherit;
  background-color: var(--theme-inputBg);
  border-color: var(--theme-borderColor);
  border-bottom-color: var(--theme-inputBg);
}

select.custom-select,
.form-control {
  background-color: var(--theme-inputBg);
  color: var(--theme-color);
  border-color: var(--theme-borderColor);
}

.form-control:focus {
  background-color: var(--theme-inputBg);
  color: var(--theme-color);
}

.form-control:disabled,
.form-control[readonly] {
  background-color: var(--theme-inputDisabledBg);
  border-color: var(--theme-borderColor);
  opacity: 1;
}

.clickToContext {
  border-radius: .4rem;
  padding: 0;
  cursor: pointer;
}

.clickToContext:hover {
  background-color: var(--theme-clickToContextColor);
}

.btn-primary svg {
  fill: #212529;
}

.fresh {
  background-color: var(--theme-clickToContextColor);
  border-radius: .4rem;
}

.modal-content {
  background-color: var(--theme-inputBg);
  border-color: var(--theme-borderColor);
}

.nav-link:not(.text-success) {
  color: var(--theme-navLink) !important;
}

.nav-link:not(.text-success):hover,
.nav-link:not(.text-success):focus {
  color: var(--theme-navLinkFocus) !important;
}

.nav-dropdown-toggle .btn-link {
  color: var(--theme-navLink) !important;
}

.nav-dropdown-toggle .btn-link[aria-expanded="true"] {
  color: var(--theme-navLinkFocus) !important;
}

.dropdown-menu {
  background-color: var(--theme-inputBg);
  border: 1px solid var(--theme-borderColor);
  max-width: 90vw;
  overflow: auto;
}

.dropdown-item {
  color: var(--theme-dropdownItemColor);
}

.dropdown-item:hover {
  color: var(--theme-dropdownItemColorHover);
}

.dropdown-item.active {
  color: var(--theme-brandColor);
  text-shadow: 0 0 10px var(--primary);
}

.dropdown-divider {
  border-top: 1px solid var(--theme-borderColor);
}

.theme {
  cursor: pointer;
  fill: var(--theme-dropdownItemColor);
}

.theme:hover {
  fill: var(--theme-dropdownItemColorHover);
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-boost-glow {
  color: #8c25f4;
  filter: drop-shadow(0 0 7px #8c25f4);
}

.text-twitter svg {
  fill: #1da1f2 !important;
}

.text-muted svg {
  fill: var(--theme-grey);
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 767px) {

  input,
  textarea,
  .form-control,
  .form-control:focus,
  .input-group-text {
    font-size: 1rem !important;
  }
}

textarea.form-control {
  line-height: 1rem;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-link {
  font-size: 80%;
  color: #6c757d;
  z-index: 100;
  position: relative;
  border-bottom: 0;
}

.nav-tabs .nav-link.active {
  height: 100%;
}

.form-label {
  font-size: 92%;
  font-weight: bold;
}

.alert-dismissible .close {
  font-weight: 300;
  font-family: 'lightning';
}

.popover-header.alert-dismissible .close {
  padding: .5rem !important;
}

.alert-dismissible .close::after {
  content: 'X';
}

.nav-item {
  font-weight: 500;
}

.nav-dropdown-toggle .dropdown-toggle::after {
  display: inline-block;
}

.nav-dropdown-toggle .dropdown .btn {
  padding: 0;
}

.nav-dropdown-toggle .dropdown .dropdown-toggle {
  padding-left: .75rem;
  padding-right: .5rem;
}

.nav-dropdown-toggle .nav-link {
  padding-right: 0 !important;
  font-weight: 500;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  font-weight: 500;
}


.dropdown-item.active {
  text-shadow: 0 0 10px var(--primary);
}

.form-control:focus {
  border-color: var(--primary);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:disabled {
  color: #ffffff;
}

.btn-twitter svg {
  fill: #ffffff;
}

.btn-dark svg {
  fill: #ffffff;
}

.nav-link.active {
  font-weight: bold;
}

.nav-link.active:not(.text-success) {
  color: var(--theme-navLinkActive) !important;
}

.nav-link svg {
  fill: var(--theme-navLink);
}

.nav-link.active svg {
  fill: var(--theme-navLinkActive);
}

.fill-grey {
  fill: var(--theme-grey);
}

.fill-lgrey {
  fill: #a5a5a5;
}

.fill-secondary {
  fill: var(--secondary);
}

.fill-boost {
  fill: var(--boost);
}

.fill-white {
  fill: white;
}

.fill-success {
  fill: var(--success);
}

.fill-info {
  fill: var(--info);
}

.fill-danger {
  fill: var(--danger);
}

.fill-theme-color {
  fill: var(--theme-color);
}

.text-underline {
  text-decoration: underline;
}

@keyframes flash {
  from {
    filter: brightness(1);
  }

  2% {
    filter: brightness(2.3);
  }

  4% {
    filter: brightness(1.4);
  }

  8% {
    filter: brightness(3);
  }

  16% {
    filter: brightness(1);
  }

  to {
    filter: brightness(1);
  }
}

.clouds {
  background-image: url('/clouds.jpeg') !important;
  background-color: var(--theme-grey);
  background-repeat: repeat;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  opacity: .2;
}

.flash-it {
  animation: flash 2s linear 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}

.static {
  background: url('/giphy.gif');
  background-color: var(--theme-grey);
  background-repeat: repeat;
  background-origin: content-box;
  background-size: cover;
  background-attachment: fixed;
  opacity: .1;
}

@keyframes flipX {
  from {
    transform: rotateX(180deg);
  }

  to {
    transform: rotateX(-180deg);
  }
}

.flipX {
  animation: flipX 2s linear infinite;
}

@keyframes flipY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.flipY {
  animation: flipY 4s linear infinite;
}

@media (hover:none),
(hover:on-demand) {
  .tooltip {
    visibility: hidden;
    pointer-events: none;
  }
}

.tooltip-inner {
  padding: 0.1rem 0.3rem;
}

.popover {
  .popover-header {
    color: #212529;
  }
}