.comments {
    margin-top: .5rem;
}

@media only screen and (max-width: 600px) {
    .comments {
        margin-top: .5rem;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.youtubeContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.youtubeContainer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.twitterContainer {
    margin-top: .25rem;
    position: relative;
}

.twitterContained {
    height: 200px;
    overflow: hidden;
}

.twitterShowFull {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0;
}

.tweetsSkeleton {
    display: flex;
    flex-flow: row wrap;
    max-width: 550px;
    width: 100%;
    padding-right: 12px;
}

.tweetSkeleton {
    width: 100%;
}

.tweetSkeleton {
    border: 0.05rem solid var(--theme-borderColor);
    border-radius: 12px;
    height: 200px;
    padding: 1.5rem;
}

.tweetSkeleton .img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.tweetSkeleton .content1,
.tweetSkeleton .content2 {
    height: 50%;
    margin-top: 1rem;
}

.tweetSkeleton .line {
    height: 25%;
    margin: 0.5rem 0;
    width: 100%;
    border-radius: .4rem;
}

.tweetSkeleton .line:last-child {
    width: 75%;
}

.fullItemContainer {
    margin-bottom: .5rem;
}

.fullItemContainer:empty {
    margin: 0;
}