.logNav {
    text-align: center;
    color: var(--theme-grey) !important; /* .text-muted */
}

.logTable {
    width: 100%;
    max-height: 60svh;
    overflow-y: auto;
    padding-right: 1em;
    font-size: x-small;
    font-family: monospace;
    color: var(--theme-grey) !important; /* .text-muted */
}

@media screen and (min-width: 768px) {
    .logTable {
        max-height: 70svh;
    }

    .embedded {
        max-height: 30svh;
    }
}
