.close {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    padding-top: 1rem;
    padding-right: 1.5rem;
    font-family: 'lightning';
    font-size: 150%;
}

.close:hover {
    opacity: 0.7;
}

.inlineCheckGroup {
    margin-left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}