.type {
    width: 1px;
    white-space: nowrap;
}

.sats {
    width: 1px;
    white-space: nowrap;
    text-align: right;
}

.failed {
    text-decoration: line-through;
}

.row {
    cursor: pointer;
}

.itemWrapper {
    padding-top: .25rem;
    margin-bottom: -.25rem;
}

.commentWrapper {
    padding-top: .2rem;
    padding-bottom: .4rem;
}