.walletGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}

.card {
  width: 160px;
  height: 180px;
}

.badge {
  color: var(--theme-grey) !important;
  background: var(--theme-clickToContextColor) !important;
  vertical-align: middle;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
  margin-right: 0.2rem;
}

.attach {
  color: var(--bs-body-color) !important;
  text-align: center;
}

.attach svg {
  fill: var(--bs-body-color) !important;
  margin-left: 0.5rem;
}

.indicator {
  width: 10px;
  height: 10px;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.indicator.success {
  color: var(--bs-green) !important;
  background-color: var(--bs-green) !important;
  border: 1px solid var(--bs-success);
  filter: drop-shadow(0 0 2px #20c997);
}

.indicator.disabled {
  color: var(--theme-toolbarHover) !important;
  background-color: var(--theme-toolbarHover) !important;
  border: 1px solid var(--theme-toolbarActive);
}