
/* TODO(wallet-v2): this is (mostly) copied from settings.module.css */

.nav {
  margin: 1rem 0;
  justify-content: center;
  font-size: 110%;
  gap: 0 0.5rem;
}

.nav :global .active {
  border-bottom: 2px solid var(--bs-primary);
}
